@import '~antd/dist/antd.css';

::-webkit-scrollbar {width: 3px; height: 5px; position: relative;}
::-webkit-scrollbar-thumb {background-color: #fdbbff;}
::-webkit-scrollbar-track {background-color: #ddd;}
